@use "@angular/material" as mat;

.acty-button {
  // Common overrides for all buttons in this component
  @include mat.button-overrides(
    (
      filled-container-shape: 0px,
      outlined-container-shape: 0px,
      text-container-shape: 0px,
    )
  );

  text-wrap-mode:nowrap;
}

// Apply the theme overrides to the button inside the container
.primary-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-primary),
      text-label-text-color: var(--theme-primary),
      filled-container-color: var(--theme-primary),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-primary)
    )
  )
}

.secondary-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-secondary),
      text-label-text-color: var(--theme-secondary),
      filled-container-color: var(--theme-secondary),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-secondary)
    )
  )
}

.success-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-success),
      text-label-text-color: var(--theme-success),
      filled-container-color: var(--theme-success),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-success)
    )
  )
}

.info-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-info),
      text-label-text-color: var(--theme-info),
      filled-container-color: var(--theme-info),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-info)
    )
  )
}

.warn-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-warn),
      text-label-text-color: var(--theme-warn),
      filled-container-color: var(--theme-warn),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-warn)
    )
  )
}

.help-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-help),
      text-label-text-color: var(--theme-help),
      filled-container-color: var(--theme-help),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-help)
    )
  )
}

.danger-btn button {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--theme-danger),
      text-label-text-color: var(--theme-danger),
      filled-container-color: var(--theme-danger),
    )
  );

    @include mat.icon-button-overrides(
    (
      icon-color: var(--theme-danger)
    )
  )
}

.mat-mdc-button-base {
  line-height: normal;
}
