<div class="d-flex align-items-center">
  <p-button outlined (onClick)="toggle($event)">
    <i class="pi pi-calculator"></i>
    {{ CellSelectionText.CELL_SUMMARY_BTN }}
    <i class="pi pi-angle-down"></i>
  </p-button>

  <p-popover #op>
    <div class="flex flex-col gap-2">
      @for(option of _options(); track $index){
      <div>
        <p-checkbox
          [ngModel]="option.checked"
          [binary]="true"
          (change)="onCheckboxChange($event, option)"
          inputId="{{ option.value }}"
        />
        <label class="ms-2" [for]="option.value">
          @if(option.value === 'col0') {
          <b>{{ option.label }}</b>
          } @else {
          {{ option.label }}
          }
        </label>
      </div>
      }
    </div>
  </p-popover>
  <app-cell-summary-output
    [isCellModeEnabled]="isCellModeEnabled()"
    [options]="_options()"
    [computedValues]="computedValues()"
  />
</div>
