@use "../../../shared/scss/buttons.scss";

$color1: #e19981;
$color2: #000000;
$color3: #01abaa;

::ng-deep {
  tr:hover > td {
    background-color: #f1f5f9 !important;
  }
}

p-table {
  font-size: 14px;
  position: relative;

  th {
    background-color: white;
    color: $color3;

    ::ng-deep svg {
      width: 14px;
      height: 14px;
      color: $color1;
    }
  }

  td {
    height: 35px;
  }

  .selected-cell {
    background-color: lightblue !important;
  }

  .selectable {
    user-select: none;
  }

  ::ng-deep {
    .p-paginator-left-content {
      width: 100%;
    }

    .p-paginator-content-start {
      flex: 1;
      min-width: 0;
    }
  }

  .footer-panel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-panel-buttons {
    display: flex;
    gap: 10px; // Adjust the gap as needed
    align-items: center;
  }

  .paginator-content-wrapper {
    flex: 1;
    min-width: 0;
  }
}

.bi-funnel.cancel-line {
  position: relative;
  color: $color1;
  cursor: pointer;
}

.bi-funnel.cancel-line::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 90%;
  border-bottom: 2px solid $color1;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: white;
  padding: 1px;
}

.bi-filter {
  position: relative;
  font-size: 22px;
  margin-left: 3px;
}

.bi-filter.cancel-line::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 90%;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: white;
}

.bi-hand-index::before {
  font-size: 19px !important;
}

.vertical-line {
  height: 24px;
  width: 1px;
  background-color: #8e8e8e;
}

/* Show collapsedButtons (menu) when screen is <= 700px, hide expandedButtons */
@media (max-width: 1350px) {
  .expandedButtons {
    display: none;
  }
}

/* Show expandedButtons (buttons) when screen is > 700px, hide collapsedButtons */
@media (min-width: 1350px) {
  .collapsedButtons {
    display: none;
  }
  .expandedButtons {
    display: flex;
    gap: 10px;
  }
}
