<div class="container-fluid">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 p-5 m-0">
    <!-- <div class="col">
      <div routerLink="/a0040u" class="menu-btn">
        {{ textContent().A0040U_TITLE }}
      </div>
    </div>
    <div class="col">
      <div routerLink="/a0060u" class="menu-btn">
        {{ textContent().A0060U_TITLE }}
      </div>
    </div> -->
    <div class="col">
      <div routerLink="/route" class="menu-btn">
        {{ textContent().DemoForm.FORM_TITLE }}
      </div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
    <div class="col">
      <div class="menu-btn">&nbsp;</div>
    </div>
  </div>
</div>
